html,body{
	margin:0px;
	color:#222;
}
#header{
	border-top:10px #e84c3d solid;
  	padding-bottom: 15px;
    padding-top: 15px;
}
.graybar{
/*	border-bottom:10px #e84c3d solid;*/
	border-top:10px #343434 solid;
	margin-bottom:15px;
}

img#logo{
	float:left;
	padding:25px;
}

/* menu */
ul.menu li{
	float:left;
	list-style-type:none;
}
ul.menu li a{
	display:block;
	width:150px;
	height:80px;
	margin-top:10px;
	border-left:2px solid #eee;
	text-align:center;

	font-family:Sans;
	font-size:16px;
	color:#999;
	text-decoration:none;
	font-weight:bold;
	padding-top:58px;
	
	background:#fff no-repeat center top 10px;
}
ul.menu li a img{
	margin-top:7px;
	height:48px;
	display:none;
}
ul.menu li a:hover{
	color:#e44d3c;
}

a#menu_news{
	background-image:url(../img/news.png);
}
a#menu_news:hover{
	background-image:url(../img/news_hover.png);
}
a#menu_download{
	background-image:url(../img/download.png);
}
a#menu_download:hover{
	background-image:url(../img/download_hover.png);
}
a#menu_source{
	background-image:url(../img/source.png);
}
a#menu_source:hover{
	background-image:url(../img/source_hover.png);
}
a#menu_documentation{
	background-image:url(../img/documentation.png);
}
a#menu_documentation:hover{
	background-image:url(../img/documentation_hover.png);
}
a#menu_gallery{
	background-image:url(../img/gallery.png);
}
a#menu_gallery:hover{
	background-image:url(../img/gallery_hover.png);
}
a#menu_community{
	background-image:url(../img/community.png);
}
a#menu_community:hover{
	background-image:url(../img/community_hover.png);
}
/* menu end */

div#slogan{
	width:100%;
	position:absolute;
	text-align:center;
	color:#fff;
	font-family:Sans;
	z-index:2;
	background:rgba(255,255,255,0.3);
	font-weight:bold;
	padding:20px;
}
div#banner{
	background:#000 url(../img/bannerstuff.png);
	height:500px;
	padding-top:50px;
	text-align:center;
}
div#calltoaction{
	width:400px;
	background:#333;
/*	border:2px solid #353535;*/
	box-shadow: 0px 0px 10px #000;
	border:1px solid #555;
	color:#fff;
	text-align:center;
    padding:30px;
    border-radius:10px;
    font-size:25px;
    display:inline-block;
    max-width:100%;
}
div#calltoaction a{
	display:inline-block;
	color:#fff;
	font-weight:bold;
	background:#e44d3c;
	padding:8px;
	text-decoration:none;
	margin-top:20px;
	box-shadow: 4px 4px 5px #222;
	border-radius:5px;
	font-size:18px;
	font-weight:lighter;
}
div#calltoaction a:hover{
	margin-top:22px;
	margin-bottom:-2px;
	margin-left:2px;
	margin-right:-2px;
	color:#ddd;
	box-shadow: 2px 2px 5px #222;
}

div#tabletborder{
	background:#999;
	padding:2px;
	border-radius:10px;
	display:inline-block;
    max-width:100%;
}
div#tabletinner{
	background:#000;
	border-radius:8px;
	padding:30px;
}

div#highlights{
	background:#343434;
	color:#fff;
	padding-top:25px;
	padding-bottom:30px;
}
div#highlights h2{
	color:#fff;
}
div#highlights h1{
	color:#ddd;
}
div#highlights div div{
	padding:20px;
	background-repeat:no-repeat;
	background-position:0px 7px;
	margin-top:15px;
	padding-top:0px;
	padding-left:50px;
}

div#hl_easy{
	background-image:url(../img/hl_easy.png);
}
div#hl_open{
	background-image:url(../img/hl_open.png);
}
div#hl_crossplatform{
	background-image:url(../img/hl_crossplatform.png);
}
div#hl_modular{
	background-image:url(../img/hl_modular.png);
}
div#hl_fast{
	background-image:url(../img/hl_fast.png);
}
div#hl_community{
	background-image:url(../img/hl_community.png);
}



div#topgameshead{
	background:#e84c3d;
}
div#topgameshead h1{
	color:#fff;
	font-weight:normal;
    margin-left: 150px;
    padding-top: 24px;
}

div#topgames{
	padding-top:30px;
	padding-bottom:10px;
}
div#topgames a{
	display:block;
	border-radius: 8px;
	box-shadow: 0 0 4px #aaa;
	border:1px #aaa solid;
   	padding: 7px;
	margin:5px;
	margin-bottom: 15px;
	margin-top: 15px;
	text-align:center;
	color:#444;
	font-size:14px;
}
div#topgames a:hover{
	text-decoration:none;
	box-shadow: 0 0 4px #e44d3c;
	border:1px solid #e44d3c;
}
div#topgames span{ /*title of the game*/
	display:block;
	font-size:17px;
	color:#222;
}

.clear{
	clear:both;
}

#footer{
	background:#151515;
	color:#ccc;
	font-family:sans-serif;
	font-size:15px;
	padding:20px;
	margin-top:40px;
}


/* news feed */

#feed > div{
	margin-top:20px;
}



.content{
	margin-top:20px;
}

/* general stuff */
a{
	color:#e44d3c;
	text-decoration:none;
}
a:hover{
	color:#c04132;
	text-decoration:underline;
}

ul,ol{
	padding-left:2em;
}
li{
	padding-left:5px;
}
h1,h2{
	color:#333;
}

/* button link */
a.btn{
	color:#fff;
	background:#e44d3c;
	display:inline-block;
	padding:9px;
}
a.btn img{
	vertical-align:middle;
}
a.btn:hover{
	background:#d43d2c;
	text-decoration:none;
}
p{
	margin:4px;
	margin-top:8px;
	margin-bottom:8px;
}
pre{
	background:#f3f3f3;
	border:1px solid #ddd;
	padding:9px;
	border-radius:5px;
}
img{
	max-width:100%;
	vertical-align:middle;
}


/* "responsive" design media queries */
@media (max-width: 1290px) {
	img#logo{
		float:none;
	}
	ul.menu{
		padding-left:0px;
	}
}
@media (max-width: 950px) {
	ul.menu li a{
		background:none !important;
		padding-top:0px;
		height:auto;
		width:auto;
		padding-left:5px;
		padding-right:5px;
	}
	
	/* TODO
	   gute Werte für Breiten der verschiedenen Boxen bei verschiedenen Größen finden
	*/
	.one-of-four{
		width: 46.05%; 
	}
}







/* TODO center stuff */

#outer {height: 450px; overflow: hidden; position: relative;width:100%;}
#outer[id] {display: table; position: static;}

#middle {position: absolute; top: 50%;width: 100%;} /* for quirk explorer only*/
#middle[id] {display: table-cell; vertical-align: middle;  position: static;}

#inner {position: relative; top: -50%} /* for quirk explorer only */
/* optional: #inner[id] {position: static;} */

